<h1>
  Login Page
</h1>
<hr>
<form class="example-form" [formGroup]="loginForm" >
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" formControlName="username" (keydown.enter)="submit()">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" formControlName="password" (keydown.enter)="submit()">
  </mat-form-field>
  <button type="button" mat-flat-button color="accent" (click)="submit()">Submit</button>
</form>